:root {
  --icon-color: #920065;
  --background-color: #78ba36;
  --background-block-color: #f9f9f9;
  --border-color: #eaeaea;
  --text-color: #ffffff;
  --link-color: #888888;
  --button-color: #feba31;
  --button-text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.9;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}
.header-text {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
#main-content {
  background: var(--background-block-color);
}
#nav-bar img {
  height: 40px;
}
#breadcrumb {
  background: #efefef;
  height: 40px;
}
.fa-star-o {
  color: #fe8800;
  font-size: 17px !important;
}
.fa-bar-chart {
  color: var(--background-color);
}
.main-title {
  margin-top: 40px;
}
.main-title h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: var(--background-color);
}
#main-content h4 {
  margin-bottom: 15px;
  color: var(--background-color);
  font-size: 20px;
  font-weight: 600;
}
#main-content h5 {
  font-size: 16px;
  padding: 0;
  margin-top: 0;
  font-weight: 600;
}
#main-content p {
  color: rgb(77, 73, 73);
}
.block {
  margin-bottom: 40px;
}
.product-info {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}
.product-info ul {
  margin: 0;
  padding: 0;
}
.product-info ul i {
  font-size: 24px;
}
.product-info ul > li {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.product-info ul > li:not(:last-child) {
  border-right: 1px solid #ececec;
  padding-right: 20px;
  margin-right: 20px;
}
.product-info ul span {
  display: block;
  font-size: 14px;
  font-weight: 550;
}

#package-qr-list img {
  height: 70px !important;
  width: 70px !important;
  position: relative;
  bottom: 10px;
}
.calendar {
  margin-top: 40px;
}

#tour-images {
  margin-top: 10px;
}

.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}

h3 {
  background: #f0f0f0;
  color: var(--background-color);
  font-size: 2.25rem;
  margin: 0.5rem;
  padding: 2%;
  position: relative;
  text-align: center;
}

.slider-single h3 {
  line-height: 10rem;
}

.slider-nav h3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-nav ul {
  background: #fff;
  padding: 18px;
}
.fixed-nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10 px;
}
.fixed-nav ul a {
  text-decoration: none;
  padding: 4px 20px;
  margin-right: 3px;
  font-weight: 600;
  color: var(--background-color);
  font-size: 15px;
}
#nav {
  margin-bottom: 20px;
  border-bottom: "1px solid #d4c9c9";
}

.form-inline label {
  margin-right: 5px;
}

/* trip fact css */
.fact-info {
  font-size: 13px;
}
.fact-info > li:not(:last-child) {
  margin-bottom: 8px;
  border-bottom: 1px dotted #e5e5e5;
}
.fact-info > li {
  list-style: none;
  padding: 8px;
}
.fact-info > li span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}
/* grade list css */
.grade-list {
  padding: 0;
  margin-bottom: 30px;
  font-size: 13px;
}
.grade-list > li {
  list-style: none;
}
.grade-list > li span {
  min-width: 70px;
}
.grade-list > li span .fa {
  font-size: 12px !important;
}
.grade-list > li .progress {
  min-width: 150px;
  margin: 0;
  height: 6px;
  margin-left: 5px;
  margin-right: 5px;
}
.grade-list > li .progress,
.grade-list > li span {
  display: inline-block;
  vertical-align: middle;
}
/* //itinerary  css */
.itinerary-wrapper {
  border-left: 1px solid #ececec;
  padding-left: 30px;
  margin-left: 11px;
}
/* cost details css */
.cost-details ul li {
  text-align: left;
  list-style: none;
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 8px;
  line-height: 1.4;
  color: rgb(77, 73, 73);
}
.cost-details .cost_include ul li:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: var(--background-color);
  font-size: 14px;
  padding-right: 0.5em;
  position: absolute;
  top: 2px;
  left: 0;
}
.cost-details .cost_exclude ul li:before {
  content: "\f057";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #80837d;
  font-size: 14px;
  padding-right: 0.5em;
  position: absolute;
  top: 2px;
  left: 0;
}

/* addtional services css */
#additional-service .addtional-service li {
  list-style: none;
  padding-left: 35px;
}
#additional-service .addtional-service ul li:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: var(--background-color);
  font-size: 14px;
  padding-right: 0.5em;
  position: absolute;
  left: 15px;
}

#departure .form-inline .form-control {
  min-width: 200px;
  border-width: 1px;
  border-radius: 2px;
  margin-right: 20px;
  box-shadow: none;
}
.accordion {
  background: #fff;
  color: #444;
  cursor: pointer;
  padding: 13px;
  width: 100%;
  border: none;
  outline: none !important;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
}
.panel {
  padding: 0 15px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}
.policy-accordion {
  background: #f9f9f9;
  color: #444;
  cursor: pointer;
  padding-right: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 0;
  width: 100%;
  border: none;
  outline: none !important;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}
.policy-panel {
  padding: 0 15px;
  background: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
#footer {
  background-image: linear-gradient(
    to right,
    var(--background-color),
    var(--background-color)
  );
  color: #fff;
  overflow: hidden;
}
.footer-box img {
  height: 60px;
}
.footer-box p {
  margin-top: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 2px;
  padding-top: 7px;
  background-image: linear-gradient(
    to right,
    var(--background-color),
    var(--background-color)
  );
}
.footer-box .form-control {
  box-shadow: none !important;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box button {
  box-shadow: none !important;
  background-image: linear-gradient(
    to right,
    var(--background-color),
    var(--background-color)
  );
  border-radius: 0;
  margin-top: 25px;
  outline: none;
  border: none;
}
hr {
  background-color: #fff;
}
.copyright {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.end {
  display: block;
  padding-top: 30px;
  border-top: 2px solid #e0e0e0;
  font-size: 15px;
  font-weight: 600;
}

.booking {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  border-top: 4px solid var(--background-color);
  border-left: 1px solid#efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.booking .cost span {
  display: block;
  font-size: 20px;
}
.rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rate span {
  color: var(--background-color);
  font-size: 25px !important;
}
.book-btn {
  padding: 8px 15px;
  margin-top: 30px;
  border-radius: 20px;
  width: 100%;
  outline: none !important;
  border: none;
  background: var(--background-color);
  color: white;
}
#contact {
  background: white;
  padding: 16px 20px;
  margin-top: 40px;
  border: 2px solid #eaeaea;
  width: 100%;
}
.contact {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: var(--background-color);
}
.support-text {
  font-size: 14px;
}
#contact h4 {
  margin-bottom: 0 !important;
}
.features {
  background: #fff;
  border: 2px solid #eaeaea;
  margin-top: 40px;
  padding: 5px 0;
  font-size: 12px;
}
.features h4 {
  margin-bottom: 5px !important;
  font-size: 14px !important;
}
.features ul > li {
  list-style: none;
  padding: 8px 15px;
}
.features ul > li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.features p {
  font-size: 14px;
}
/* .why-us ul>li:not(:last-child) {
  border-bottom: 1px solid #ececec;
} */
.features ul li .care:before {
  content: "\f232";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #80837d;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  color: var(--background-color);
  left: 30px;
}
.features ul li .guarantee:before {
  content: "\f058";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #80837d;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  color: var(--background-color);
  left: 30px;
}
.features ul li .book:before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #80837d;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  color: var(--background-color);
  left: 30px;
}
.features ul li .confirm:before {
  content: "\f0e7";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #80837d;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  color: var(--background-color);
  left: 30px;
}
.item-wrap {
  margin-left: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .booking {
    display: none;
  }
}
