* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #aacccc;
}

.slider {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.box {
  height: 5rem;
  width: 5rem;
  background: cadetblue;
  color: white;
  margin-left: 25px;
}
.main-box {
  height: 10rem;
  width: 10rem;
  background: yellowgreen;
}
.slider-hero img {
  height: 140px;
}
