.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-star-o:before {
    content: "\F006";
}
.fa-star:before {
    content: "\F005";
}
.fa-clock-o:before {
    content: "\F017";
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
strong {
    font-weight: 700;
}
img {
    border: 0;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #2588be;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #195a7e;
    text-decoration: underline;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
hr {
    margin-top: 26px;
    margin-bottom: 26px;
    border: 0;
    border-top: 1px solid #eee;
}
h4 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #333;
}
h4 {
    margin-top: 13px;
    margin-bottom: 13px;
}
h4 {
    font-size: 18px;
}
ul {
    margin-top: 0;
    margin-bottom: 13px;
}
.triplocator-widget-col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .triplocator-widget-col {
        float: left;
        width: 33%;
    }
}
h4 {
    margin: 0 0.75em;
    color: #333;
}
@media only screen and (min-width: 768px) {
    h4 {
        margin: 0 0 1em;
    }
}
strong {
    font-weight: 600;
}
img {
    vertical-align: top;
    -webkit-backface-visibility: hidden;
}
.triplocator-widget-img-fill {
    width: 100%;
}
.triplocator-widget-product-list {
    padding: 0;
    margin: 0 -10px;
}
.triplocator-widget-product-list > li {
    list-style: none;
    padding: 0 10px;
    margin-bottom: 30px;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap {
    background-color: #fff;
    border-radius: 1px;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap .triplocator-widget-img {
    position: relative;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap .triplocator-widget-img img {
    border-radius: 1px 1px 0 0;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap .triplocator-widget-img .triplocator-widget-tour-duration {
    color: hsla(0, 0%, 100%, 0.84);
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 5px 5px 5px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap .triplocator-widget-img .wish {
    position: absolute;
    left: 15px;
    top: 10px;
    color: hsla(0, 0%, 100%, 0.84);
    font-size: 17px;
    font-weight: 300;
    background-color: transparent;
    border: 0;
    line-height: 1;
    padding: 0;
}
.triplocator-widget-product-list .triplocator-widget-item-wrap:hover {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
.triplocator-widget-product-list .triplocator-widget-caption {
    padding: 15px;
    position: relative;
    border: 1px solid #e0e0e0;
}
.triplocator-widget-product-list .triplocator-widget-caption h4 {
    font-size: 14px;
    margin: 0;
}
.triplocator-widget-product-list .triplocator-widget-caption h4 a {
    color: #333;
    text-decoration: none;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-destination {
    display: block;
    font-size: 12px;
    color: #2588be;
    padding-bottom: 4px;
    font-weight: 600;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-destination:before {
    content: "\F041";
    display: inline-block;
    margin-right: 5px;
    font-family: FontAwesome;
    vertical-align: baseline;
}
.triplocator-widget-product-list .triplocator-widget-caption .compare {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1;
    color: #00adef;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}
.triplocator-widget-product-list .triplocator-widget-caption hr {
    margin-top: 12px;
    margin-bottom: 12px;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact {
    line-height: 1.1;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span {
    display: inline-block;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span sub {
    display: block;
    color: #2e2e2e;
    font-size: 12px;
    bottom: auto;
    line-height: 1;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-review {
    text-align: left;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-review i {
    font-size: 13px;
    color: #fe8800;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-review sub {
    padding-top: 4px;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-cost {
    color: #2588be;
    font-size: 15px;
    float: right;
    font-weight: 600;
    text-align: right;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-cost sub {
    padding-bottom: 4px;
}
.triplocator-widget-product-list .triplocator-widget-caption .triplocator-widget-fact span.triplocator-widget-tour-cost s {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #b30000;
}
.triplocator-widget-ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 95px;
    height: 95px;
}
.triplocator-widget-ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110px;
    display: block;
    -webkit-box-shadow: 0 3px 10px -5px #000;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 20px;
    right: -23px;
}
.triplocator-widget-ribbon span:after,
.triplocator-widget-ribbon span:before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
}
.triplocator-widget-ribbon span:before {
    left: 0;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.triplocator-widget-ribbon span:after {
    right: 0;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.triplocator-widget-ribbon.danger span {
    background: red;
}
.triplocator-widget-ribbon.danger span:before {
    border-left: 3px solid #e60000;
    border-top: 3px solid #e60000;
}
.triplocator-widget-ribbon.danger span:after {
    border-right: 3px solid #e60000;
    border-top: 3px solid #e60000;
}
.triplocator-widget-product-list .triplocator-widget-caption h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    height: 1.4em;
}
.cap-text {
    text-transform: capitalize;
}
.triplocator-widget-destination a,
ul#triplocator-widgets a {
    text-decoration: none;
}
@font-face {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"),
        url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0) format("woff2"), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"),
        url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"),
        url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg");
}
