@media (min-width: 992px) {
    .box {
        /*box-sizing: content-box;*/
        /*width: 300px;*/
        /*height: 100px;*/
        padding: 15px;
        border:2px solid #e6e6e6;
        background-color:#e6e6e6 ;
    }
    .filter_by_box {
        /*box-sizing: content-box;*/
        /*width: 300px;*/
        /*height: 100px;*/
        padding: 15px;
        border:2px solid #e6e6e6;
    }
    fieldset {
        background-color: #e6e6e6;
        border:2px solid #e6e6e6;
    }
    legend {
        background-color: darkseagreen;
        color: black;
        width: auto;
    }

}

.checked {
    color: orange;
}

.unchecked {
    color: #ffffff;
}

body {
    font-family: "Open Sans", sans-serif;
}

#footer {
    background-image: linear-gradient(to right, #6b6b6b, #ccc);
    color: #fff;
    overflow: hidden;
}
.footer-box img {
    height: 60px;
}
.footer-box p {
    margin-top: 20px;
}
.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 2px;
    padding-top: 7px;
    background-image: linear-gradient(to right, #4d8d0d, #5ca80fec);
}
.footer-box .form-control {
    box-shadow: none !important;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box button {
    box-shadow: none !important;
    background-image: linear-gradient(to right, #4d8d0d, #5ca80fec);
    border-radius: 0;
    margin-top: 25px;
    outline: none;
    border: none;
}
hr {
    background-color: #fff;
}
.copyright {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}
